<html>
    <head>
        <title></title>
    </head>
    <body>
        <form method="post" action="../controller/regcheck.php"  onsubmit="return validate()" >
            <fieldset>
                <legend>Registration</legend>
                <table>
                    <tr>
                        <td>Employee Name:</td>
                        <td><input type="text" id="ename" name="ename" > <span id="enamemsg"></span></td>
                        
                        
                    </tr>
                    <tr>
                        <td>Contract:</td>
                        <td><input type="text" id="contract" name="contract"  >  <span id="contractmsg"></span></td>
                    </tr>
                    <tr>
                        <td>Username:</td>
                        <td><input type="text" id="username" name="username" >  <span id="usernamemsg"></span></td>
                    </tr>
                    
                    <tr>
                        <td>Password:</td>
                        <td><input type="password" id="password" name="password">  <span id="passwordmsg"></span></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            <input type="submit" name="signup" value="Sign Up">
                            <a href="login.html">Sign In</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
        <script src="../js/registrationvalidation.js"></script>
    </body>
</html>
